* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
  z-index: 1;
}
header .header_event {
  width: 100%;
  height: 60px;
  background: #f37100;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pretendard;
  font-size: 2rem;
}
header .header_event .fa-chevron-right {
  cursor: pointer;
}
header .header_inner {
  width: 1650px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
header .header_inner .header_inner_left {
  display: flex;
  justify-content: start;
  align-items: end;
  position: absolute;
  left: 0;
  bottom: 20px;
}
header .header_inner .header_inner_left ul {
  display: flex;
  gap: 60px;
}
header .header_inner .header_inner_left ul li {
  font-family: pretendard;
  font-size: 2.8rem;
  cursor: pointer;
}
header .header_inner .header_inner_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 95px;
  position: absolute;
  right: 0;
}
header .header_inner .header_inner_right .inner_right_top ul {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: pretendard;
  font-size: 1.8rem;
}
header .header_inner .header_inner_right .inner_right_top ul li {
  cursor: pointer;
}
header .header_inner .header_inner_right .inner_right_bottom {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: 40px;
  background: #f5f5f5;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input {
  width: 90%;
  background: inherit;
  border: none;
  opacity: 1;
  font-family: pretendard;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus {
  outline: none;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus::placeholder {
  transition: all 0.3s;
  opacity: 0;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar .fa-magnifying-glass {
  cursor: pointer;
}
header .header_inner .header_inner_right .inner_right_bottom .basket {
  position: relative;
}
header .header_inner .header_inner_right .inner_right_bottom .basket .fa-cart-shopping {
  width: 40px;
  height: 32px;
  font-size: 32px;
  cursor: pointer;
}
header .header_inner .header_inner_right .inner_right_bottom .basket p {
  width: 20px;
  height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f37100;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  font-family: pretendard;
  font-size: 12px;
}
header .header_inner .header_inner_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  color: #858585;
}
footer .footer_inner {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_inner .footer_inner_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer .footer_inner .footer_inner_left img {
  width: 170px;
  height: 80px;
}
footer .footer_inner .footer_inner_left p {
  font-family: pretendard;
  font-size: 1.4rem;
}
footer .footer_inner .footer_inner_center {
  display: flex;
  flex-direction: column;
}
footer .footer_inner .footer_inner_center ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer_inner .footer_inner_center ul li {
  font-family: pretendard;
  font-size: 1.6rem;
}
footer .footer_inner .footer_inner_center ul li:last-child {
  font-size: 2rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: pretendard;
}
footer .footer_inner .footer_inner_right .inner_right_top {
  display: flex;
  flex-direction: column;
}
footer .footer_inner .footer_inner_right .inner_right_top ul li:nth-child(1) {
  font-size: 2.2rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_top ul li:nth-child(2) {
  font-size: 3.6rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_bottom {
  display: flex;
  gap: 5px;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left li:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left li:nth-child(2) {
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-size: 1.6rem;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#container .login_inner {
  width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#container .login_inner .login_01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#container .login_inner .login_01 h2 {
  font-family: pretendard;
  font-size: 3.4rem;
  font-weight: bold;
}
#container .login_inner .login_01 .login_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#container .login_inner .login_01 .login_input .login_pw {
  display: flex;
  position: relative;
}
#container .login_inner .login_01 .login_input .login_pw .fa-eye {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #999;
}
#container .login_inner .login_01 .login_input input {
  width: 450px;
  height: 60px;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: pretendard;
  font-size: 1.8rem;
  color: #999;
  border: 1px solid #999;
}
#container .login_inner .login_01 .login_input input:focus {
  color: #000;
}
#container .login_inner .login_01 .login_input input:focus::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
#container .login_inner .login_01 .login_input input:focus::placeholder {
  transition: all 0.3s;
  opacity: 0;
}
#container .login_inner .login_01 button {
  width: 450px;
  height: 60px;
  background: #f37100;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: pretendard;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
#container .login_inner .login_01 ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
#container .login_inner .login_01 ul li {
  font-family: pretendard;
  font-size: 1.4rem;
  color: #666;
  cursor: pointer;
}
#container .login_inner .login_02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#container .login_inner .login_02 .login_social_title {
  width: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .login_inner .login_02 .login_social_title hr {
  width: 100%;
  position: absolute;
  top: 50%;
  border: 1px solid #ff9900;
}
#container .login_inner .login_02 .login_social_title p {
  padding: 10px;
  font-family: pretendard;
  font-size: 1.4rem;
  font-weight: bold;
  background: #fff;
  color: #ff9900;
  z-index: 1;
}
#container .login_inner .login_02 .login_social_kakao {
  width: 450px;
  height: 60px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fee500;
  cursor: pointer;
}
#container .login_inner .login_02 .login_social_kakao p {
  font-size: 1.8rem;
  color: #000;
}
#container .login_inner .login_02 .login_social_naver {
  width: 450px;
  height: 60px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #03c75a;
  cursor: pointer;
}
#container .login_inner .login_02 .login_social_naver p {
  font-size: 1.8rem;
  color: #fff;
}