// reset
@import "../../styles/reset.scss";

// variables
@import "../../styles/variables.scss";

// header
@import "../../styles/header.scss";

// footer
@import "../../styles/footer.scss";

// response
@import "../../styles/res_header.scss";
@import "../../styles/res_footer.scss";

// mixin
@mixin button {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  background: map-get($map: $color, $key: main-01);
  color: map-get($map: $color, $key: light);
  font-family: map-get($map: $font, $key: pretendard);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

// common
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
}

// main
#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  .mypage_inner {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    .mypage {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        width: 100%;
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 3.6rem;
        font-weight: bold;
      }
      .mypage_data {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .mypage_info {
          display: flex;
          flex-direction: column;
          gap: 30px;
          li {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .mypage_detail {
          display: flex;
          flex-direction: column;
          gap: 30px;
          li {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            p {
              width: 70%;
              display: flex;
              align-items: center;
              font-family: map-get($map: $font, $key: pretendard);
              font-size: 2rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            button {
              @include button;
            }
          }
        }
      }
    }
    .mypage_policy {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 3.6rem;
        font-weight: bold;
      }
      .policy_personal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 2rem;
          font-weight: bold;
        }
        button {
          @include button;
        }
      }
      .policy_service {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 2rem;
          font-weight: bold;
        }
        button {
          @include button;
        }
      }
    }
    .mypage_quit {
      width: 100%;
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 2rem;
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 5px;
      text-align: center;
      cursor: pointer;
    }
  }
}

// modal
.mypage_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 300px;
  border-radius: 5px;
  background: map-get($map: $color, $key: light);
  .modal_inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    h2 {
      font-size: 3.6rem;
      font-weight: bold;
    }
    .modal_info_before {
      display: flex;
      justify-content: space-between;
      :nth-child(1) {
        font-size: 2rem;
        font-weight: bold;
      }
      :nth-child(2) {
        font-size: 2rem;
      }
    }
    .modal_info_after {
      display: flex;
      justify-content: space-between;
      :nth-of-type(1) {
        font-size: 2rem;
        font-weight: bold;
      }
      :nth-child(2) {
        font-size: 2rem;
      }
    }
    .modal_buttons {
      display: flex;
      justify-content: end;
      gap: 40px;
      :nth-child(1) {
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid map-get($map: $color, $key: main-01);
        border-radius: 6px;
        background: map-get($map: $color, $key: light);
        color: map-get($map: $color, $key: main-01);
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
      }
      :nth-child(2) {
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 6px;
        background: map-get($map: $color, $key: main-01);
        color: map-get($map: $color, $key: light);
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
