// variables
@import "../../styles/variables.scss";

@media screen and (max-width: 500px) {
  body {
    width: 100%;
    height: 100vh;
    gap: 50px;
  }
  #container {
    .login_inner {
      width: 500px;
      gap: 20px;
      .login_01 {
        gap: 20px;
        h2 {
          font-size: 2.4rem;
        }
        .login_input {
          gap: 10px;
          .login_pw {
            .fa-eye-slash {
              right: 10px;
              font-size: 1.2rem;
            }
          }
          input {
            width: 300px;
            height: 40px;
            padding: 5px 10px;
            font-size: 1.2rem;
          }
        }
        button {
          width: 300px;
          height: 40px;
          font-size: 1.4rem;
        }
        ul {
          gap: 5px;
          li {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .login_02 {
        .login_social_title {
          width: 300px;
          hr {
            border: 0.5px solid map-get($map: $color, $key: main-02);
          }
          p {
            padding: 5px;
            font-size: 1.2rem;
          }
        }
        .login_social_kakao {
          width: 300px;
          height: 40px;
          font-size: 1.4rem;
          gap: 5px;
          img {
            width: 14px;
            height: 14px;
          }
          p {
            font-size: 1.4rem;
          }
        }
        .login_social_naver {
          width: 300px;
          height: 40px;
          font-size: 1.4rem;
          gap: 5px;
          img {
            width: 14px;
            height: 14px;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
