@media screen and (max-width: 1024px) {
  body {
    height: 100%;
    gap: 50px;
  }
  #container .login_inner {
    margin: 0 auto;
    padding: 0 30px;
  }
  #container .login_inner .login_01 {
    gap: 25px;
  }
  #container .login_inner .login_01 h2 {
    font-size: 2.8rem;
  }
  #container .login_inner .login_01 .login_input {
    gap: 15px;
  }
  #container .login_inner .login_01 .login_input .login_pw .fa-eye-slash {
    right: 15px;
    font-size: 1.4rem;
  }
  #container .login_inner .login_01 .login_input input {
    height: 50px;
    padding: 8px 16px;
    font-size: 1.4rem;
  }
  #container .login_inner .login_01 button {
    height: 50px;
    font-size: 1.6rem;
  }
  #container .login_inner .login_01 ul {
    gap: 8px;
  }
  #container .login_inner .login_01 ul li {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  #container .login_inner .login_01 ul p {
    font-size: 1rem;
  }
  #container .login_inner .login_02 .login_social_title hr {
    border: 0.5px solid #ff9900;
  }
  #container .login_inner .login_02 .login_social_title p {
    padding: 5px;
    font-size: 1.2rem;
  }
  #container .login_inner .login_02 .login_social_kakao {
    height: 50px;
    gap: 5px;
  }
  #container .login_inner .login_02 .login_social_kakao img {
    width: 16px;
    height: 16px;
  }
  #container .login_inner .login_02 .login_social_kakao p {
    font-size: 1.6rem;
  }
  #container .login_inner .login_02 .login_social_naver {
    height: 50px;
    gap: 5px;
  }
  #container .login_inner .login_02 .login_social_naver img {
    width: 16px;
    height: 16px;
  }
  #container .login_inner .login_02 .login_social_naver p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  body {
    height: 100%;
    gap: 50px;
  }
  #container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #container .login_inner {
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 50px;
  }
  #container .login_inner .login_01 {
    gap: 20px;
  }
  #container .login_inner .login_01 h2 {
    font-size: 2.4rem;
  }
  #container .login_inner .login_01 .login_input {
    gap: 10px;
  }
  #container .login_inner .login_01 .login_input .login_pw .fa-eye-slash {
    right: 10px;
    font-size: 1.2rem;
  }
  #container .login_inner .login_01 input {
    height: 40px;
    padding: 5px 10px;
    font-size: 1.2rem;
  }
  #container .login_inner .login_01 .button {
    height: 40px;
    font-size: 1.4rem;
  }
  #container .login_inner .login_01 ul {
    gap: 5px;
  }
  #container .login_inner .login_01 ul li {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  #container .login_inner .login_01 ul p {
    font-size: 1rem;
  }
  #container .login_inner .login_02 .login_social_title hr {
    border: 0.5px solid #ff9900;
  }
  #container .login_inner .login_02 .login_social_title p {
    padding: 5px;
    font-size: 1.2rem;
  }
  #container .login_inner .login_02 .login_social_kakao {
    height: 40px;
    font-size: 1.4rem;
    gap: 5px;
  }
  #container .login_inner .login_02 .login_social_kakao img {
    width: 14px;
    height: 14px;
  }
  #container .login_inner .login_02 .login_social_kakao p {
    font-size: 1.4rem;
  }
  #container .login_inner .login_02 .login_social_naver {
    height: 40px;
    font-size: 1.4rem;
    gap: 5px;
  }
  #container .login_inner .login_02 .login_social_naver img {
    width: 14px;
    height: 14px;
  }
  #container .login_inner .login_02 .login_social_naver p {
    font-size: 1.4rem;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}