// reset
@import "../../styles/reset.scss";

// variables
@import "../../styles/variables.scss";

// header
@import "../../styles/header.scss";

// footer
@import "../../styles/footer.scss";

// response
@import "../../styles/res_header.scss";
@import "../../styles/res_footer.scss";

// mixin
@mixin type-01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.8rem;
      font-weight: bold;
      b {
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 1.8rem;
        font-weight: bold;
        color: map-get($map: $color, $key: red);
      }
    }
    p {
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.4rem;
      color: map-get($map: $color, $key: red);
    }
  }
  & > :nth-child(2) {
    width: 100%;
    border: 1px solid map-get($map: $color, $key: gray-999);
    border-radius: 10px;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      opacity: 1;
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.8rem;
      &:focus {
        &::placeholder {
          transition: all 0.3s;
          opacity: 0;
        }
      }
    }
    ::placeholder {
      color: map-get($map: $color, $key: gray-ccc);
    }
  }
}

@mixin type-02 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.8rem;
      font-weight: bold;
      b {
        font-family: map-get($map: $font, $key: pretendard);
        font-size: 1.8rem;
        font-weight: bold;
        color: map-get($map: $color, $key: red);
      }
    }
    p {
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.4rem;
      color: map-get($map: $color, $key: red);
    }
  }
  & > :nth-child(2) {
    width: 100%;
    border: 1px solid map-get($map: $color, $key: gray-999);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    input {
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 10px;
      padding: 10px 60px 10px 20px;
      opacity: 1;
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 1.8rem;
      &:focus {
        &::placeholder {
          transition: all 0.3s;
          opacity: 0;
        }
      }
    }
    ::placeholder {
      color: map-get($map: $color, $key: gray-ccc);
    }
    i {
      background: #fff;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      color: map-get($map: $color, $key: gray-999);
      cursor: pointer;
    }
  }
}

@mixin type-03 {
  width: 30%;
  height: 60px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid map-get($map: $color, $key: gray-999);
  border-radius: 10px;
  background: url(/login/login_imgs/arrow.png) no-repeat right 30px center /
    1rem;
  // color: map-get($map: $color, $key: gray-ccc);
  font-family: map-get($map: $font, $key: pretendard);
  font-size: 1.8rem;
  -webkit-appearance: none;
  appearance: none;
}

// common
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  position: relative;
}

// main
#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  .sign_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .sign_form {
      width: 100%;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .sign_title {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h2 {
          width: 100%;
          display: flex;
          justify-content: center;
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 3.4rem;
          font-weight: bold;
        }
        p {
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 1.4rem;
          font-weight: bold;
          color: map-get($map: $color, $key: red);
        }
      }
      .sign_id {
        @include type-01;
      }
      .sign_pw {
        @include type-02;
      }
      .sign_pw_again {
        @include type-02;
      }
      .sign_name {
        @include type-01;
      }
      .sign_date {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .sign_date_text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            font-weight: bold;
          }
        }
        .date_select {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .date_select_year {
            @include type-03;
          }
          .date_select_month {
            @include type-03;
          }
          .date_select_day {
            @include type-03;
          }
        }
      }
      .sign_email {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > :nth-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            font-weight: bold;
            b {
              font-family: map-get($map: $font, $key: pretendard);
              font-size: 1.8rem;
              font-weight: bold;
              color: map-get($map: $color, $key: red);
            }
          }
          p {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.4rem;
            color: map-get($map: $color, $key: red);
          }
        }
        .email_input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          input {
            width: 60%;
            height: 60px;
            border: 1px solid map-get($map: $color, $key: gray-999);
            border-radius: 10px;
            padding: 10px 20px;
            opacity: 1;
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            &:focus {
              &::placeholder {
                transition: all 0.3s;
                opacity: 0;
              }
            }
          }
          ::placeholder {
            color: map-get($map: $color, $key: gray-ccc);
          }
          p {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 2rem;
          }
          select {
            width: 30%;
            height: 60px;
            padding: 10px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color, $key: gray-999);
            border-radius: 10px;
            background: url(/login/login_imgs/arrow.png) no-repeat right 15px
              center / 1rem;
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            -webkit-appearance: none;
            appearance: none;
          }
        }
      }
      .sign_call {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > :nth-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            font-weight: bold;
            b {
              font-family: map-get($map: $font, $key: pretendard);
              font-size: 1.8rem;
              font-weight: bold;
              color: map-get($map: $color, $key: red);
            }
          }
          p {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.4rem;
            color: map-get($map: $color, $key: red);
          }
        }
        .call_input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          input {
            width: 30%;
            height: 60px;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color, $key: gray-999);
            border-radius: 10px;
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.8rem;
            text-align: center;
            &:focus {
              &::placeholder {
                transition: all 0.3s;
                opacity: 0;
              }
            }
          }
          ::placeholder {
            color: map-get($map: $color, $key: gray-ccc);
          }
        }
      }
      .sign_address {
        @include type-01;
      }
    }
    .sign_checkbox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;
      div {
        width: 100%;
        display: flex;
        gap: 10px;
        .check_boxes {
          width: 20px;
          height: 20px;
          appearance: none;
          border: 2px solid map-get($map: $color, $key: gray-ccc);
          border-radius: 4px;
          background: #fff;
          position: relative;
          cursor: pointer;
        }
        .check_boxes:checked {
          background: map-get($map: $color, $key: main-01);
          border: map-get($map: $color, $key: main-01);
        }
        .check_boxes:checked::after {
          content: "\2714";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: map-get($map: $color, $key: light);
          font-size: 1.8rem;
        }
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.6rem;
            b {
              font-family: map-get($map: $font, $key: pretendard);
              font-size: 1.6rem;
              color: map-get($map: $color, $key: red);
            }
            &.sign_error_message {
              font-family: map-get($map: $font, $key: pretendard);
              font-size: 1.4rem;
              color: map-get($map: $color, $key: red);
            }
          }
        }
      }
    }
    .sign_button {
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 10px;
      background: map-get($map: $color, $key: main-01);
      color: map-get($map: $color, $key: light);
      font-family: map-get($map: $font, $key: pretendard);
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      &:disabled {
        background: map-get($map: $color, $key: gray-ccc);
      }
    }
  }
}
