@media screen and (max-width: 1440px) {
  main #main_con1 {
    height: auto;
    margin-top: 60px;
  }
  main #main_con1 .main_inner {
    padding: 0 50px;
  }
  main #main_con1 .main_inner h1 {
    font-size: 2.2rem;
  }
  main #main_con1 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con1 .main_inner .main_it .main_type1,
  main #main_con1 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con1 .main_inner .main_it .main_type1 .img img,
  main #main_con1 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con1 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.8rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner1 .banner_text {
    padding: 0 50px;
    gap: 30px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag {
    gap: 6px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag span {
    width: 16%;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title h2 {
    font-size: 2.6rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title p {
    font-size: 1.1rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_text1 p {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner2 .banner2_text span {
    font-size: 2.2rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text h2 {
    font-size: 3rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text p {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner3 .banner3_text p {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text h2 {
    font-size: 4rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner4 .banner4_text p {
    font-size: 1.1rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text span {
    font-size: 2.4rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text h2 {
    font-size: 2.8rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text .banner_time {
    width: 14%;
    font-size: 1.4rem;
  }
  main #main_con2 {
    height: auto;
  }
  main #main_con2 .main_inner {
    padding: 0 50px;
  }
  main #main_con2 .main_inner .main_con2title h1 {
    font-size: 2.2rem;
  }
  main #main_con2 .main_inner .main_con2title img {
    width: 30px;
  }
  main #main_con2 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con2 .main_inner .main_it .main_type1,
  main #main_con2 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con2 .main_inner .main_it .main_type1 .img img,
  main #main_con2 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con2 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.8rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
  main #main_con3 .main_inner {
    padding: 0 50px;
  }
  main #main_con3 .main_inner .main_title2 .main_title3 {
    font-size: 2.2rem;
  }
  main #main_con3 .main_inner .main_title2 p {
    font-size: 1.4rem;
  }
  main #main_con3 .main_inner .main_recipe {
    width: 60%;
  }
  main #main_con3 .main_inner .main_recipe .main_item img {
    width: 100%;
  }
  main #main_con3 .main_inner .main_recipe .main_item .recipe_info {
    transform: translate(-53%, -50%);
  }
  main #main_con4 .main_inner {
    padding: 0 50px;
  }
  main #main_con4 .main_inner .main_sale_title h1 {
    font-size: 2.2rem;
  }
  main #main_con4 .main_inner .main_sale_title .sale_time {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con4 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con4 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info h3 {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1024px) {
  main #main_con1 {
    height: auto;
    margin-top: 60px;
  }
  main #main_con1 .main_inner {
    padding: 0 50px;
  }
  main #main_con1 .main_inner h1 {
    font-size: 2.2rem;
  }
  main #main_con1 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con1 .main_inner .main_it .main_type1,
  main #main_con1 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con1 .main_inner .main_it .main_type1 .img img,
  main #main_con1 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con1 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.8rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner1 .banner_text {
    padding: 0 50px;
    gap: 30px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag {
    gap: 6px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag span {
    width: 16%;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title h2 {
    font-size: 2.6rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title p {
    font-size: 1.1rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_text1 p {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner2 .banner2_text span {
    font-size: 2.2rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text h2 {
    font-size: 3rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text p {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner3 .banner3_text p {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text h2 {
    font-size: 4rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner4 .banner4_text p {
    font-size: 1.1rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text span {
    font-size: 2.4rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text h2 {
    font-size: 2.8rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text .banner_time {
    width: 14%;
    font-size: 1.4rem;
  }
  main #main_con2 {
    height: auto;
  }
  main #main_con2 .main_inner {
    padding: 0 50px;
  }
  main #main_con2 .main_inner .main_con2title h1 {
    font-size: 2.2rem;
  }
  main #main_con2 .main_inner .main_con2title img {
    width: 30px;
  }
  main #main_con2 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con2 .main_inner .main_it .main_type1,
  main #main_con2 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con2 .main_inner .main_it .main_type1 .img img,
  main #main_con2 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con2 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.8rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
  main #main_con3 .main_inner {
    padding: 0 50px;
  }
  main #main_con3 .main_inner .main_title2 .main_title3 {
    font-size: 2.2rem;
  }
  main #main_con3 .main_inner .main_title2 p {
    font-size: 1.4rem;
  }
  main #main_con3 .main_inner .main_recipe {
    width: 60%;
  }
  main #main_con3 .main_inner .main_recipe .main_item img {
    width: 100%;
  }
  main #main_con3 .main_inner .main_recipe .main_item .recipe_info {
    transform: translate(-53%, -50%);
  }
  main #main_con4 .main_inner {
    padding: 0 50px;
  }
  main #main_con4 .main_inner .main_sale_title h1 {
    font-size: 2.2rem;
  }
  main #main_con4 .main_inner .main_sale_title .sale_time {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #main_con4 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con4 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info h3 {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  main #main_con1 .main_inner {
    padding: 0 50px;
  }
  main #main_con1 .main_inner h1 {
    font-size: 2rem;
  }
  main #main_con1 .main_inner .main_it {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  main #main_con1 .main_inner .main_it .main_type1,
  main #main_con1 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con1 .main_inner .main_it .main_type1 .img img,
  main #main_con1 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con1 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.4rem;
    min-height: 4.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.6rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.6rem;
  }
  main .main_banner .main_innerbanner1 .banner_text {
    padding: 0 50px;
    gap: 20px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag {
    gap: 6px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag span {
    width: 18%;
    font-size: 1rem;
    padding: 5px 10px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title h2 {
    font-size: 2.2rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_text1 p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner2 .banner2_text span {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text h2 {
    font-size: 2.4rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner3 .banner3_text p {
    font-size: 1.4rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text h2 {
    font-size: 3rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text {
    padding: 0 50px;
    gap: 3px;
  }
  main .main_banner .main_innerbanner4 .banner4_text p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text span {
    font-size: 2rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text h2 {
    font-size: 2.4rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text .banner_time {
    width: 16%;
    font-size: 1.2rem;
    padding: 5px;
  }
  main #main_con2 .main_inner {
    padding: 0 50px;
  }
  main #main_con2 .main_inner .main_con2title h1 {
    font-size: 2rem;
  }
  main #main_con2 .main_inner .main_con2title img {
    width: 25px;
  }
  main #main_con2 .main_inner .main_it {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  main #main_con2 .main_inner .main_it .main_type1,
  main #main_con2 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con2 .main_inner .main_it .main_type1 .img img,
  main #main_con2 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con2 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.4rem;
    min-height: 4.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.6rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.6rem;
  }
  main #main_con3 .main_inner {
    padding: 0 50px;
  }
  main #main_con3 .main_inner .main_title2 .main_title3 {
    font-size: 2rem;
  }
  main #main_con3 .main_inner .main_title2 .line {
    width: 150px;
  }
  main #main_con3 .main_inner .main_title2 p {
    font-size: 1.2rem;
  }
  main #main_con3 .main_inner .main_recipe {
    width: 70%;
  }
  main #main_con3 .main_inner .main_recipe .main_item img {
    width: 100%;
  }
  main #main_con3 .main_inner .main_recipe .main_item .recipe_info {
    transform: translate(-50%, -50%);
  }
  main #main_con4 .main_inner {
    padding: 0 50px;
  }
  main #main_con4 .main_inner .main_sale_title h1 {
    font-size: 2rem;
  }
  main #main_con4 .main_inner .main_sale_title .sale_time {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  main #main_con4 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con4 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info h3 {
    font-size: 1.6rem;
    min-height: 4.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.8rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  main #main_con1 .main_inner {
    padding: 0 50px;
  }
  main #main_con1 .main_inner h1 {
    font-size: 2rem;
  }
  main #main_con1 .main_inner .main_it {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main #main_con1 .main_inner .main_it .main_type1,
  main #main_con1 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con1 .main_inner .main_it .main_type1 .img img,
  main #main_con1 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con1 .main_inner .main_it .main_type1 .img button,
  main #main_con1 .main_inner .main_it .main_type2 .img button {
    font-size: 1rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con1 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.4rem;
    min-height: 4.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.6rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.4rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.2rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.6rem;
  }
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .icon .fa-heart,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_shopping .icon .fa-cart-shopping,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .icon .fa-heart,
  main #main_con1 .main_inner .main_it .main_type1 .main_info .main_tag .icon .fa-cart-shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .icon .fa-heart,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_shopping .icon .fa-cart-shopping,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-heart,
  main #main_con1 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-cart-shopping {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner1 img {
    height: 150px;
  }
  main .main_banner .main_innerbanner1 .banner_text {
    padding: 0 50px;
    gap: 20px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag {
    gap: 2px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag span {
    width: 25%;
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title {
    gap: 4px;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title h2 {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_tag .banner_title p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner1 .banner_text .banner_text1 p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner2 img {
    height: 150px;
  }
  main .main_banner .main_innerbanner2 .banner2_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner2 .banner2_text span {
    font-size: 1.4rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text h2 {
    font-size: 2rem;
  }
  main .main_banner .main_innerbanner2 .banner2_text p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner3 img {
    height: 150px;
  }
  main .main_banner .main_innerbanner3 .banner3_text {
    padding: 0 50px;
  }
  main .main_banner .main_innerbanner3 .banner3_text p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner3 .banner3_text h2 {
    font-size: 2.4rem;
  }
  main .main_banner .main_innerbanner4 img {
    height: 150px;
  }
  main .main_banner .main_innerbanner4 .banner4_text {
    padding: 0 50px;
    gap: 3px;
  }
  main .main_banner .main_innerbanner4 .banner4_text p {
    font-size: 1rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text span {
    font-size: 1.2rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text h2 {
    font-size: 1.8rem;
  }
  main .main_banner .main_innerbanner4 .banner4_text .banner_time {
    width: 20%;
    font-size: 1rem;
    padding: 5px;
  }
  main #main_con2 .main_inner {
    padding: 0 50px;
  }
  main #main_con2 .main_inner h1 {
    font-size: 2rem;
  }
  main #main_con2 .main_inner .main_it {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main #main_con2 .main_inner .main_it .main_type1,
  main #main_con2 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con2 .main_inner .main_it .main_type1 .img img,
  main #main_con2 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con2 .main_inner .main_it .main_type1 .img button,
  main #main_con2 .main_inner .main_it .main_type2 .img button {
    font-size: 1rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_title,
  main #main_con2 .main_inner .main_it .main_type2 .main_info h3,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_title {
    font-size: 1.4rem;
    min-height: 4.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag {
    flex-direction: row;
    align-items: flex-end;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag p {
    font-size: 1.6rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_percent p b,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.4rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price span,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.2rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .main_sale .main_price p,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.6rem;
  }
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .icon .fa-heart,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_shopping .icon .fa-cart-shopping,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .icon .fa-heart,
  main #main_con2 .main_inner .main_it .main_type1 .main_info .main_tag .icon .fa-cart-shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .icon .fa-heart,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_shopping .icon .fa-cart-shopping,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-heart,
  main #main_con2 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-cart-shopping {
    font-size: 1rem;
  }
  main #main_con3 .main_inner {
    padding: 0 50px;
  }
  main #main_con3 .main_inner .main_title2 .main_title3 {
    font-size: 2rem;
  }
  main #main_con3 .main_inner .main_title2 .line {
    width: 150px;
  }
  main #main_con3 .main_inner .main_title2 p {
    font-size: 1.2rem;
  }
  main #main_con3 .main_inner .main_recipe {
    width: 80%;
  }
  main #main_con3 .main_inner .main_recipe .main_item img {
    width: 100%;
  }
  main #main_con3 .main_inner .main_recipe .main_item .recipe_info {
    transform: translate(-75%, -50%);
  }
  main #main_con3 .main_inner .main_recipe .slick-next {
    right: 70px;
  }
  main #main_con4 .main_inner {
    padding: 0 50px;
  }
  main #main_con4 .main_inner .main_sale_title h1 {
    font-size: 2rem;
  }
  main #main_con4 .main_inner .main_sale_title .sale_time {
    font-size: 1.4rem;
  }
  main #main_con4 .main_inner .main_it {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main #main_con4 .main_inner .main_it .main_type2 {
    gap: 15px;
  }
  main #main_con4 .main_inner .main_it .main_type2 .img img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #main_con4 .main_inner .main_it .main_type2 .img button {
    font-size: 1rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info h3 {
    font-size: 1.4rem;
    min-height: 4.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p {
    font-size: 1.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_percent p b {
    font-size: 2.4rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price span {
    font-size: 1.2rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .main_sale .main_price p {
    font-size: 1.6rem;
  }
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-heart,
  main #main_con4 .main_inner .main_it .main_type2 .main_info .main_tag .icon .fa-cart-shopping {
    font-size: 1rem;
  }
}