// Tablet
@media screen and (max-width: 1024px) {
  main {
    #main_con1 {
      height: auto; // 높이 고정 해제
      margin-top: 60px;

      .main_inner {
        padding: 0 50px;
        h1 {
          font-size: 2.2rem;
        }
        .main_it {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.6rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.8rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.4rem;
                      b {
                        font-size: 2.8rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.4rem;
                    }
                    p {
                      font-size: 1.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .main_banner {
      .main_innerbanner1 {
        .banner_text {
          padding: 0 50px;
          gap: 30px;
          .banner_tag {
            gap: 6px;
            span {
              width: 16%;
              font-size: 1.1rem;
              padding: 5px 10px;
            }
            .banner_title {
              h2 {
                font-size: 2.6rem;
              }
              p {
                font-size: 1.1rem;
              }
            }
          }
          .banner_text1 {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .main_innerbanner2 {
        .banner2_text {
          padding: 0 50px;
          span {
            font-size: 2.2rem;
          }
          h2 {
            font-size: 3rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
      .main_innerbanner3 {
        .banner3_text {
          padding: 0 50px;
          p {
            font-size: 1.8rem;
          }
          h2 {
            font-size: 4rem;
          }
        }
      }
      .main_innerbanner4 {
        .banner4_text {
          padding: 0 50px;
          p {
            font-size: 1.1rem;
          }
          span {
            font-size: 2.4rem;
          }
          h2 {
            font-size: 2.8rem;
          }
          .banner_time {
            width: 14%;
            font-size: 1.4rem;
          }
        }
      }
    }
    #main_con2 {
      height: auto; // 높이 고정 해제
      .main_inner {
        padding: 0 50px;
        .main_con2title {
          h1 {
            font-size: 2.2rem;
          }
          img {
            width: 30px;
          }
        }
        .main_it {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.6rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.8rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.4rem;
                      b {
                        font-size: 2.8rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.4rem;
                    }
                    p {
                      font-size: 1.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #main_con3 {
      .main_inner {
        padding: 0 50px;
        .main_title2 {
          .main_title3 {
            font-size: 2.2rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
        .main_recipe {
          width: 60%;
          .main_item {
            img {
              width: 100%;
            }
            .recipe_info {
              transform: translate(-53%, -50%);
            }
          }
        }
      }
    }
    #main_con4 {
      .main_inner {
        padding: 0 50px;
        .main_sale_title {
          h1 {
            font-size: 2.2rem;
          }
          .sale_time {
            font-size: 1.4rem;
          }
        }
        .main_it {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3 {
                font-size: 1.6rem;
                min-height: 4.2rem;
              }
              .main_tag {
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.4rem;
                      b {
                        font-size: 2.8rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.4rem;
                    }
                    p {
                      font-size: 1.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// sub
@media screen and (max-width: 767px) {
  main {
    #main_con1 {
      .main_inner {
        padding: 0 50px;
        h1 {
          font-size: 2rem;
        }
        .main_it {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.4rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.6rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.2rem;
                      b {
                        font-size: 2.4rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.2rem;
                    }
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .main_banner {
      .main_innerbanner1 {
        .banner_text {
          padding: 0 50px;
          gap: 20px;
          .banner_tag {
            gap: 6px;
            span {
              width: 18%;
              font-size: 1rem;
              padding: 5px 10px;
            }
            .banner_title {
              h2 {
                font-size: 2.2rem;
              }
              p {
                font-size: 1rem;
              }
            }
          }
          .banner_text1 {
            p {
              font-size: 1rem;
            }
          }
        }
      }
      .main_innerbanner2 {
        .banner2_text {
          padding: 0 50px;
          span {
            font-size: 1.8rem;
          }
          h2 {
            font-size: 2.4rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .main_innerbanner3 {
        .banner3_text {
          padding: 0 50px;
          p {
            font-size: 1.4rem;
          }
          h2 {
            font-size: 3rem;
          }
        }
      }
      .main_innerbanner4 {
        .banner4_text {
          padding: 0 50px;
          gap: 3px;
          p {
            font-size: 1rem;
          }
          span {
            font-size: 2rem;
          }
          h2 {
            font-size: 2.4rem;
          }
          .banner_time {
            width: 16%;
            font-size: 1.2rem;
            padding: 5px;
          }
        }
      }
    }
    #main_con2 {
      .main_inner {
        padding: 0 50px;
        .main_con2title {
          h1 {
            font-size: 2rem;
          }
          img {
            width: 25px;
          }
        }
        .main_it {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.4rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.6rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.2rem;
                      b {
                        font-size: 2.4rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.2rem;
                    }
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #main_con3 {
      .main_inner {
        padding: 0 50px;
        .main_title2 {
          .main_title3 {
            font-size: 2rem;
          }
          .line {
            width: 150px;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .main_recipe {
          width: 70%;
          .main_item {
            img {
              width: 100%;
            }
            .recipe_info {
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    #main_con4 {
      .main_inner {
        padding: 0 50px;
        .main_sale_title {
          h1 {
            font-size: 2rem;
          }
          .sale_time {
            font-size: 1.4rem;
          }
        }
        .main_it {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
            .main_info {
              h3 {
                font-size: 1.6rem;
                min-height: 4.2rem;
              }
              .main_tag {
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.4rem;
                      b {
                        font-size: 2.8rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.4rem;
                    }
                    p {
                      font-size: 1.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 550px) {
  main {
    #main_con1 {
      .main_inner {
        padding: 0 50px;
        h1 {
          font-size: 2rem;
        }
        .main_it {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
              button {
                font-size: 1rem;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.4rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.6rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.2rem;
                      b {
                        font-size: 2.4rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.2rem;
                    }
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
                .icon {
                  .fa-heart,
                  .fa-cart-shopping {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .main_banner {
      .main_innerbanner1 {
        img {
          height: 150px;
        }
        .banner_text {
          padding: 0 50px;
          gap: 20px;
          .banner_tag {
            gap: 2px;
            span {
              width: 25%;
              font-size: 0.8rem;
              padding: 5px 10px;
            }
            .banner_title {
              gap: 4px;
              h2 {
                font-size: 1.2rem;
              }
              p {
                font-size: 1rem;
              }
            }
          }
          .banner_text1 {
            p {
              font-size: 1rem;
            }
          }
        }
      }
      .main_innerbanner2 {
        img {
          height: 150px;
        }
        .banner2_text {
          padding: 0 50px;
          span {
            font-size: 1.4rem;
          }
          h2 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .main_innerbanner3 {
        img {
          height: 150px;
        }
        .banner3_text {
          padding: 0 50px;
          p {
            font-size: 1rem;
          }
          h2 {
            font-size: 2.4rem;
          }
        }
      }
      .main_innerbanner4 {
        img {
          height: 150px;
        }
        .banner4_text {
          padding: 0 50px;
          gap: 3px;
          p {
            font-size: 1rem;
          }
          span {
            font-size: 1.2rem;
          }
          h2 {
            font-size: 1.8rem;
          }
          .banner_time {
            width: 20%;
            font-size: 1rem;
            padding: 5px;
          }
        }
      }
    }
    #main_con2 {
      .main_inner {
        padding: 0 50px;
        h1 {
          font-size: 2rem;
        }
        .main_it {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .main_type1,
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
              button {
                font-size: 1rem;
              }
            }
            .main_info {
              h3,
              .main_title {
                font-size: 1.4rem;
                min-height: 4.2rem;
              }
              .main_shopping,
              .main_tag {
                p {
                  font-size: 1.6rem;
                }
                flex-direction: row;
                align-items: flex-end;
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.2rem;
                      b {
                        font-size: 2.4rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.2rem;
                    }
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
                .icon {
                  .fa-heart,
                  .fa-cart-shopping {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    #main_con3 {
      .main_inner {
        padding: 0 50px;
        .main_title2 {
          .main_title3 {
            font-size: 2rem;
          }
          .line {
            width: 150px;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .main_recipe {
          width: 80%;
          .main_item {
            img {
              width: 100%;
            }
            .recipe_info {
              transform: translate(-75%, -50%);
            }
          }
          .slick-next {
            right: 70px;
          }
        }
      }
    }
    #main_con4 {
      .main_inner {
        padding: 0 50px;
        .main_sale_title {
          h1 {
            font-size: 2rem;
          }
          .sale_time {
            font-size: 1.4rem;
          }
        }
        .main_it {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .main_type2 {
            gap: 15px;
            .img {
              img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
              button {
                font-size: 1rem;
              }
            }
            .main_info {
              h3 {
                font-size: 1.4rem;
                min-height: 4.2rem;
              }
              .main_tag {
                .main_sale {
                  .main_percent {
                    p {
                      font-size: 1.2rem;
                      b {
                        font-size: 2.4rem;
                      }
                    }
                  }
                  .main_price {
                    span {
                      font-size: 1.2rem;
                    }
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
                .icon {
                  .fa-heart,
                  .fa-cart-shopping {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
