// reset
@import "./styles/reset.scss";

// variables
@import "./styles/variables.scss";

// font
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "./mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
  #tttt {
    width: 100%;
    height: 100vh;
    background: #ff0;
  }
  #main_con1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    .main_inner {
      width: 100%;
      max-width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 2.6rem;
      }
      .main_it {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px; // 간격을 주는 게 더 보기 좋아요
        .main_type1,
        .main_type2 {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // padding: 10px;
          box-sizing: border-box;
          gap: 15px;

          .img {
            position: relative;
            width: 100%;
            img {
              width: 100%;
              aspect-ratio: 1 / 1; // 정사각형 비율 유지
              object-fit: cover;
              cursor: pointer;
            }
            // 할인 버튼은 type2에서만 존재
            button {
              position: absolute;
              top: 5%;
              left: 5%;
              @include button;
            }
          }
          .main_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 10px;
            h3,
            .main_title {
              font-size: 1.8rem;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 원하는 줄 수
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              // font-size: 1.8rem;
              cursor: pointer;
            }
            .main_shopping,
            .main_tag {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              p {
                font-weight: 600;
                font-size: 2.2rem;
              }
              .main_sale {
                display: flex;
                gap: 10px;
                align-items: flex-end;

                .main_percent {
                  p {
                    font-size: 1.8rem;
                    color: map-get($map: $color, $key: main-01);
                    b {
                      font-size: 3.6rem;
                    }
                  }
                }

                .main_price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 1.6rem;
                    color: map-get($map: $color, $key: gray-ccc);
                    text-decoration: line-through;
                  }
                  p {
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: map-get($map: $color, $key: dark);
                  }
                }
              }
              .icon {
                display: flex;
                gap: 5px;
                .fa-heart,
                .fa-cart-shopping {
                  @include icon;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  .main_banner {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: relative;
    .main_innerbanner1 {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .banner_text {
        // width: 1050px;
        width: 100%;
        max-width: 1050px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 40px;
        .banner_tag {
          display: flex;
          flex-direction: column;
          gap: 10px;
          span {
            width: 17%;
            background: #ff4726;
            color: map-get($map: $color, $key: light);
            border-radius: 30px;
            padding: 10px;
            display: flex;
            justify-content: center;
          }
          .banner_title {
            display: flex;
            flex-direction: column;
            gap: 6px;
            h2 {
              font-size: 4rem;
            }
            p {
              font-size: 1.6rem;
              color: map-get($map: $color, $key: dark-424242);
            }
          }
        }
        .banner_text1 {
          p {
            font-size: 1.8rem;
            color: map-get($map: $color, $key: dark-424242);
          }
        }
      }
    }
    .main_innerbanner2 {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .banner2_text {
        padding: 0 50px;
        width: 100%;
        max-width: 1050px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          font-size: 2.6rem;
        }
        h2 {
          font-size: 4rem;
          b {
            color: map-get($map: $color, $key: main-01);
          }
        }
        p {
          font-size: 1.6rem;
          color: map-get($map: $color, $key: main-01);
        }
      }
    }
    .main_innerbanner3 {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .banner3_text {
        width: 100%;
        max-width: 1050px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
          font-size: 2rem;
          b {
            color: map-get($map: $color, $key: main-01);
          }
        }
        h2 {
          font-size: 5rem;
        }
      }
    }
    .main_innerbanner4 {
      width: 100%;
      position: relative;
      color: map-get($map: $color, $key: light);
      img {
        width: 100%;
        object-fit: cover;
      }
      .banner4_text {
        width: 100%;
        max-width: 1050px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 5px;
        p {
          font-size: 1.4rem;
          font-weight: lighter;
        }
        span {
          font-size: 3rem;
        }
        h2 {
          font-size: 4rem;
          b {
            // background-image: linear-gradient(
            //   90deg,
            //   rgba(151, 210, 118, 1) 0%,
            //   rgba(110, 171, 77, 1) 100%
            // );
            color: rgba(110, 171, 77, 1);
          }
        }
        .banner_time {
          margin-top: 10px;
          width: 16%;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          background: map-get($map: $color, $key: dark);
          border-radius: 20px;
          padding: 10px;
        }
      }
    }
  }
  #main_con2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    // margin-top: 120px;
    .main_inner {
      width: 100%;
      max-width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .main_con2title {
        display: flex;
        align-items: center;
        gap: 14px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          gap: 24px;
        }
        h1 {
          font-size: 2.6rem;
        }
        img {
          width: 40px;
          height: 10px;
        }
      }
      .main_it {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px; // 간격을 주는 게 더 보기 좋아요
        .main_type1,
        .main_type2 {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // padding: 10px;
          box-sizing: border-box;
          gap: 15px;

          .img {
            position: relative;
            width: 100%;
            img {
              width: 100%;
              aspect-ratio: 1 / 1; // 정사각형 비율 유지
              object-fit: cover;
              cursor: pointer;
            }
            // 할인 버튼은 type2에서만 존재
            button {
              position: absolute;
              top: 5%;
              left: 5%;
              @include button;
            }
          }
          .main_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 10px;
            h3,
            .main_title {
              // white-space: nowrap;
              // overflow: hidden;
              font-size: 1.8rem;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 원하는 줄 수
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              // font-size: 1.8rem;
              cursor: pointer;
            }
            .main_shopping,
            .main_tag {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              p {
                font-weight: 600;
                font-size: 2.2rem;
              }
              .main_sale {
                display: flex;
                gap: 10px;
                align-items: flex-end;

                .main_percent {
                  p {
                    font-size: 1.8rem;
                    color: map-get($map: $color, $key: main-01);
                    b {
                      font-size: 3.6rem;
                    }
                  }
                }

                .main_price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 1.6rem;
                    color: map-get($map: $color, $key: gray-ccc);
                    text-decoration: line-through;
                  }
                  p {
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: map-get($map: $color, $key: dark);
                  }
                }
              }
              .icon {
                display: flex;
                gap: 5px;
                .fa-heart,
                .fa-cart-shopping {
                  @include icon;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  #main_con3 {
    width: 100%;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $color, $key: sub-03);
    .main_inner {
      width: 100%;
      max-width: 1050px;
      display: flex;
      gap: 45px;
      height: 304px;
      overflow: hidden;
      .main_title2 {
        .main_title3 {
          font-size: 2.6rem;
          margin-bottom: 6px;
          b {
            color: map-get($map: $color, $key: main-01);
          }
        }
        .line {
          width: 200px; // 220px 이었음 title: 3rem
          height: 1px;
          background-color: map-get($map: $color, $key: main-01);
        }
        p {
          margin-top: 15px;
          font-size: 1.6rem;
        }
      }

      .main_recipe {
        width: 70%;
        display: flex;
        // gap: 30px;
        align-items: center;
        // overflow: hidden;
        overflow: visible;
        position: relative;
        .slick-slide {
          padding: 0 15px; // 좌우 갭 30px (각 아이템 양쪽 15px씩)
          box-sizing: border-box;
        }

        // 슬라이더 전체 양옆 여백 보정 필요시
        .slick-list {
          margin: 0 -15px;
        }
        .slick-prev,
        .slick-next {
          width: 30px;
          height: 30px;
          background: none;
          color: map-get($map: $color, $key: main-01);
          border-radius: 50%;
          display: flex !important;
          justify-content: center;
          align-items: center;

          &:before {
            color: map-get($map: $color, $key: main-01);
            font-size: 20px;
            opacity: 1;
          }
        }

        .slick-prev {
          left: -40px;
        }
        .slick-next {
          right: -40px;
        }

        .main_item {
          width: 100%;
          // width: 240px;
          height: 304px;
          // width: 100%;
          position: relative;

          cursor: pointer;
          img {
            width: 100%;
            max-width: 240px;
            // width: 240px;
            height: 304px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(70%);
          }
          .recipe_info {
            color: map-get($map: $color, $key: light);
            display: flex;
            flex-direction: column;
            gap: 120px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .recipe_title {
              .fa-heart {
                font-size: 1.6rem;
                display: flex;
                justify-content: right;
                margin-bottom: 10px;
                cursor: pointer;
              }
              h4 {
                font-size: 1.6rem;
                margin-bottom: 6px;
              }
              button {
                border: none;
                display: flex;
                align-items: center;
                height: 14px;
                border-radius: 12px;
                padding: 8px;
                color: map-get($map: $color, $key: light);
                font-size: 1rem;
                font-family: map-get($map: $font, $key: pretendard);
                background: rgba($color: #000000, $alpha: 0.6);
              }
            }
            .recipe_text {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .recipe_line {
                width: 204px;
                height: 1px;
                background-color: map-get($map: $color, $key: light);
              }
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
  #main_con4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    .main_inner {
      width: 100%;
      max-width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      hr {
        width: 100%;
        border: 1px solid map-get($map: $color, $key: main-01);
        border-radius: 50px;
      }
      .main_sale_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-size: 2.6rem;
        }
        .sale_time {
          color: map-get($map: $color, $key: light);
          background: map-get($map: $color, $key: main-01);
          font-size: 1.6rem;
          border-radius: 10px;
          padding: 10px 15px;
        }
      }
      .main_it {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        .main_type2 {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // padding: 10px;
          box-sizing: border-box;
          gap: 15px;

          .img {
            position: relative;
            width: 100%;
            img {
              width: 100%;
              aspect-ratio: 1 / 1; // 정사각형 비율 유지
              object-fit: cover;
              cursor: pointer;
            }
            button {
              position: absolute;
              top: 5%;
              left: 5%;
              @include button;
            }
          }
          .main_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 10px;
            h3,
            .main_title {
              font-size: 1.8rem;
              // white-space: nowrap;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 원하는 줄 수
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              // font-size: 1.8rem;
              cursor: pointer;
            }
            .main_tag {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              p {
                font-weight: 600;
                font-size: 2.2rem;
              }
              .main_sale {
                display: flex;
                gap: 10px;
                align-items: flex-end;

                .main_percent {
                  p {
                    font-size: 1.8rem;
                    color: map-get($map: $color, $key: main-01);
                    b {
                      font-size: 3.6rem;
                    }
                  }
                }

                .main_price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 1.6rem;
                    color: map-get($map: $color, $key: gray-ccc);
                    text-decoration: line-through;
                  }
                  p {
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: map-get($map: $color, $key: dark);
                  }
                }
              }
              .icon {
                display: flex;
                gap: 5px;
                .fa-heart,
                .fa-cart-shopping {
                  @include icon;
                  cursor: pointer;
                }
              }
            }
          }
        }
        // .main_type2 {
        //   display: flex;
        //   flex-direction: column;
        //   gap: 15px;
        //   .img {
        //     width: 240px;
        //     height: 240px;
        //     border: 1px solid #f00;
        //     position: relative;
        //     cursor: pointer;
        //     button {
        //       @include button;
        //     }
        //   }
        //   .main_info {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     width: 240px;
        //     height: 80px;
        //     h3 {
        //       font-size: 1.8rem;
        //     }
        //     .main_tag {
        //       display: flex;
        //       align-items: end;
        //       justify-content: space-between;
        //       .main_sale {
        //         display: flex;
        //         justify-content: center;
        //         align-items: end;
        //         gap: 10px;
        //         .main_percent {
        //           display: flex;
        //           p {
        //             b {
        //               font-size: 3.6rem;
        //             }
        //             color: map-get($map: $color, $key: main-01);
        //             font-size: 1.8rem;
        //           }
        //         }
        //         .main_price {
        //           display: flex;
        //           flex-direction: column;
        //           span {
        //             color: map-get($map: $color, $key: gray-ccc);
        //             text-decoration: line-through;
        //           }
        //           p {
        //             font-size: 2.2rem;
        //             color: map-get($map: $color, $key: dark);
        //           }
        //         }
        //       }
        //       .icon {
        //         display: flex;
        //         justify-content: right;
        //         gap: 5px;
        //         .fa-heart {
        //           @include icon;
        //           cursor: pointer;
        //         }
        //         .fa-cart-shopping {
        //           @include icon;
        //           cursor: pointer;
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
