/* Reset & Variables */
@import "../../styles/reset.scss";
@import "../../styles/variables.scss";

/* Header & Footer */
@import "../../styles/header.scss";
@import "../../styles/footer.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  width: 100%;
  margin: 0px auto;
  &.modal-open {
    overflow: hidden;
  }
}

/* Product Thumbnail */
@mixin product-thumb {
  width: 100%;
  .thumb_one {
    width: 100%;
    // height: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
    overflow: hidden;
    gap: 30px;
    // padding-right: 20px;
    .product_sub_img {
      width: 20%;
      max-width: 20%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 10px;
    }
    & p {
      width: 50px;
      height: 50px;
      background: map-get($map: $color, $key: main-02);
      border-radius: 50%;
      color: map-get($map: $color, $key: light);
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 17px;
    }

    .product_ex_title {
      font-size: 2.6rem;
      font-weight: 700;
      color: map-get($map: $color, $key: dark);
      margin-bottom: 10px;
    }

    .product_ex_desc {
      width: 800px;
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 150%;
      color: map-get($map: $color, $key: dark);
    }
  }
}

/* Review Content */
@mixin member-content {
  width: 50%;
  .member_content {
    margin: 20px auto;
    gap: 20px;
    display: flex;
    font-size: 1.4rem;
    line-height: 150%;
    overflow: hidden;
    padding-right: 20px;
    height: 100%;
    img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .modal-search {
      width: 100%;
      height: 300px;
      position: fixed;
      top: -100%;
      left: 0;
      z-index: 5;
      background: rgba($color: #000000, $alpha: 0.5);
      color: map-get($map: $color, $key: light);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      &.active {
        top: 0;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        i {
          font-size: 2.4rem;
          cursor: pointer;
        }
      }
      .search {
        width: 500px;
        position: relative;
        form {
          display: flex;
          input[type="search"] {
            flex: 5;
            padding: 15px;
            padding-left: 30px;
            border: none;
            &::placeholder {
              opacity: 1;
              font-style: italic;
              transition: opacity 0.3s;
            }
            &:focus {
              outline: none;
              &::placeholder {
                opacity: 0;
              }
            }
          }
          input[type="submit"] {
            flex: 1;
            padding: 15px;
            border: none;
            background: map-get($map: $color, $key: button);
            color: map-get($map: $color, $key: light);
            opacity: 0.8;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .modal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      background: rgba($color: #000000, $alpha: 0.7);
      width: 100%;
      height: auto;
      padding: 100px;
      // display: flex;
      display: none;
      justify-content: center;
      align-items: center;
      .modal-content {
        width: 1000px;
        position: relative;
        .modal-top {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;
          .modal-photo {
            width: 300px;
            height: 450px;
            border-radius: 8px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          form {
            width: 600px;
            .modal-info {
              width: 100%;
              h1 {
                font-size: 4rem;
                margin-bottom: 14px;
              }
              div {
                font-size: 1.6rem;
                // line-height: 1.2rem;
                span {
                  display: inline-block;
                  margin-right: 4px;
                  padding-right: 10px;
                  border-right: 1px solid map-get($map: $color, $key: light);
                  &:last-child {
                    border-right: none;
                  }
                }
              }
            }
            .modal-button {
              width: 100%;
              margin: 20px 0;
              a {
                display: inline-block;
                width: auto;
                border: 1px solid map-get($map: $color, $key: light);
                border-radius: 34px;
                margin-right: 8px;
                padding: 8px 20px;
                transition: border 0.3s, background 0.3s;
                &:hover {
                  border: 1px solid map-get($map: $color, $key: button);
                  background: map-get($map: $color, $key: button);
                }
                i {
                  margin-right: 10px;
                }
              }
            }
            .modal-desc {
              width: 100%;
              margin-bottom: 20px;
              p {
                font-size: 1.6rem;
                line-height: 2.4rem;
              }
            }
            input[type="submit"] {
              border: none;
              border-radius: 34px;
              background: map-get($map: $color, $key: button);
              color: map-get($map: $color, $key: light);
              padding: 8px 36px;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
        .modal-bottom {
          .modal-detail {
            width: 100%;
            background: map-get($map: $color, $key: button);
            padding: 10px;
            border-radius: 20px 0 0 0;
            h1 {
              font-size: 3rem;
              margin-bottom: 14px;
            }
            div {
              margin-bottom: 10px;
              padding-left: 20px;
              span {
                &:first-child {
                  font-size: 1.6rem;
                  font-weight: bold;
                  margin-right: 12px;
                }
                &:last-child {
                  font-style: italic;
                  text-decoration: underline;
                }
              }
            }
          }
          .modal-poster {
            width: 100%;
            height: 500px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .modal-trailer {
            width: 100%;
            height: 500px;
            // margin: 20px 0;
            background: #fff;
            iframe {
              border: none;
            }
          }
        }
      }
      .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        i {
          font-size: 3rem;
          cursor: pointer;
        }
      }
      &.active {
        display: flex;
      }
    }
    & > div {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      margin-top: 10px;
      p {
        font-size: 1.4rem;
        color: map-get($map: $color, $key: gray-999);
        margin: 20px 0px 0px;
      }
    }
  }
}

/* main */
.detail_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* hr */
.detail_line {
  width: 100%;
  max-width: 1050px;
  height: 1px;
  background-color: map-get($map: $color, $key: main-01);
  border: none;
  padding: 0 50px;
}

/* info */
.detail_info {
  width: 100%;
  max-width: 1050px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  .info_img {
    width: 100%;
    max-width: 50%;
    overflow: hidden;
    img {
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
    }
  }
  & .img_info {
    width: 50%;
    max-width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .info_title {
    margin-bottom: 20px;
    & h1 {
      font-size: 3rem;
      line-height: 140%;
    }
    & p {
      font-size: 2rem;
      color: map-get($map: $color, $key: gray-999);
    }
  }
  .info_price {
    & .price_one {
      font-size: 3rem;
      font-weight: bold;
      color: map-get($map: $color, $key: main-01);
      & .price_sub {
        font-size: 2rem;
      }
    }
    & .price_two {
      font-size: 3rem;
      font-weight: bold;
      & .price_sub {
        font-size: 2rem;
      }
    }
    & .price_three {
      font-size: 1.2rem;
      color: map-get($map: $color, $key: gray-999);
      margin-bottom: 10px;
    }
  }
  .info_review {
    margin-bottom: 30px;
    & .fa-star {
      font-size: 2rem;
      background: linear-gradient(to right, #c1d95b, #ffd6b0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
    & .review_rating {
      font-weight: bold;
      font-size: 2rem;
      margin-right: 30px;
    }
    & .review_re {
      font-weight: bold;
      font-size: 2rem;
    }
    & .review_few {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .info_btns {
    gap: 10px;
    margin-bottom: 20px;
    & .organic_btn {
      font-size: 1.2rem;
      font-weight: bold;
      border: 1px solid map-get($map: $color, $key: main-01);
      border-radius: 20px;
      padding: 6px 18px;
      background: map-get($map: $color, $key: light);
      color: map-get($map: $color, $key: main-01);
      cursor: pointer;
    }
    & .event_btn {
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      padding: 6px 18px;
      border-radius: 20px;
      background: linear-gradient(to right, #c1d95b, #ffd6b0);
      color: map-get($map: $color, $key: light);
      cursor: pointer;
    }
  }
  .info_option {
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 1rem;
      th {
        text-align: left;
        padding-right: 3rem;
        font-size: 1.4rem;
        font-weight: bold;
      }
      td {
        font-size: 1.2rem;
      }
    }
  }
  .info_purchase {
    width: 100%;
    button {
      width: 100%;
      border: none;
      border-radius: 10px;
      font-size: 1.8rem;
      font-weight: bold;
      color: map-get($map: $color, $key: light);
      background: map-get($map: $color, $key: main-02);
      height: 40px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}

/* review */
.detail_review {
  max-width: 1050px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  // gap: 50px;

  .review_text {
    width: 100%;
    text-align: left;
    & .text_review {
      font-size: 3rem;
      font-weight: 700;
    }
    & .text_few {
      color: map-get($map: $color, $key: main-01);
      font-size: 2rem;
      font-weight: 700;
    }
  }
  .review_star {
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: map-get($map: $color, $key: sub-03);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    & .star {
      font-size: 2rem;
      font-weight: 400;
    }
    & .rating {
      font-size: 2.4rem;
      font-weight: 400;
      .rating_one {
        font-size: 2.4rem;
        font-weight: 700;
        color: map-get($map: $color, $key: main-01);
      }
    }
  }
  .review_member {
    width: 100%;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    & > div:first-child {
      cursor: pointer;
      p {
        font-size: 2rem;
        & span {
          color: map-get($map: $color, $key: yellow);
        }
      }
      @include member-content;
    }
    & > div:last-child {
      cursor: pointer;
      p {
        font-size: 1.8rem;
        & span {
          color: map-get($map: $color, $key: yellow);
        }
      }
      @include member-content;
    }
  }
  .hide_members {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  .hide_members.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .review_more {
    width: 100%;
    height: 50px;
    border: 1px solid map-get($map: $color, $key: gray-858585);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $color, $key: light);
    gap: 10px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

/* product */
.detail_product {
  max-width: 1050px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  gap: 0;
  .product_title {
    width: 100%;
    overflow: hidden;
    // padding-right: 20px;
    .product_title_img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      max-width: 1050px;
      height: auto;
      aspect-ratio: 930 / 605;
    }
    margin-bottom: 80px;
    h1 {
      font-size: 3rem;
      display: inline-block;
      position: relative;
      margin-bottom: 30px;
      font-weight: 700;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: map-get($map: $color, $key: main-01);
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
    & .img_group {
      display: none;
      img {
        width: 22.3%;
        max-width: 22.3%;
        height: auto;
        aspect-ratio: 200 / 200;
      }
    }
  }
  .product_thumb {
    @include product-thumb;
  }
}

/* faq */
.detail_faq {
  width: 1050px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  gap: 20px;

  & .faq_title {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    & > span {
      font-size: 3rem;
      font-weight: 700;
    }
    & > button {
      width: 100px;
      height: 40px;
      background: map-get($map: $color, $key: main-01);
      color: map-get($map: $color, $key: light);
      font-size: 1.6rem;
      font-weight: 700;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }

  & .faq_subTitle {
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    color: map-get($map: $color, $key: gray-999);
  }
  & .table_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-size: 2.2rem;
    font-weight: 500;
    color: map-get($map: $color, $key: main-01);
    border-top: 1px solid map-get($map: $color, $key: main-01);
    border-bottom: 1px solid map-get($map: $color, $key: main-01);
    & .title_left {
      width: 60%;
    }
    & .title_right {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  }
  & > .faq_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid map-get($map: $color, $key: main-01);
    .left {
      font-size: 2.2rem;
      font-weight: 600;
      color: map-get($map: $color, $key: main-01);
      padding: 20px 50px;
      &:first-child {
        margin-right: 40px;
      }
    }

    .left {
      font-size: 2rem;
      font-weight: 400;
      color: map-get($map: $color, $key: dark);
      padding: 30px 0;
      position: relative;
      & .fa-lock {
        position: absolute;
        top: 36px;
        left: 145px;
        font-size: 1.3rem;
        width: 13px;
        height: auto;
        color: map-get($map: $color, $key: gray-858585);
      }
    }
    .left {
      text-align-last: left;
      padding-left: 20px;
      cursor: pointer;
    }
    .right {
      padding-left: 50px;
      width: 20%;
      font-weight: 500;
    }
    .faq_date {
      color: map-get($map: $color, $key: gray-858585);
    }
    .faq_status {
      color: map-get($map: $color, $key: main-01);
      font-weight: 500;
    }
  }
  & .faq_number {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin: 50px 0px 80px 0px;

    div {
      font-size: 2.2rem;
      font-weight: 400;
      color: map-get($map: $color, $key: dark);
      cursor: pointer;

      &.active {
        color: map-get($map: $color, $key: main-01);
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

/* modal */
.modal_container {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_contents {
    width: 400px;
    background: map-get($map: $color, $key: light);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .modal_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2.4rem;
        font-weight: 700;
      }

      .modal_close_btn {
        font-size: 2.4rem;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: map-get($map: $color, $key: gray-858585);
        }
      }
    }

    .modal_user_info {
      display: flex;
      justify-content: space-between;
      color: map-get($map: $color, $key: dark);
    }

    .modal_input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      textarea {
        padding: 10px;
        font-size: 1.2rem;
        border: 1px solid map-get($map: $color, $key: gray-ccc);
        border-radius: 8px;
        width: 100%;
      }

      textarea {
        height: 200px;
        resize: none;
      }
    }

    .modal_footer {
      display: flex;
      justify-content: flex-end;

      .modal_submit {
        padding: 10px 20px;
        font-size: 1.6rem;
        background: map-get($color, main-01);
        color: map-get($map: $color, $key: light);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: map-get($map: $color, $key: main-02);
        }
      }
    }
  }
}

/* policy */
.detail_policy {
  width: 100%;
  max-width: 1050px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  gap: 60px;

  .policy_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    & > h1 {
      font-size: 3rem;
      font-family: map-get($map: $font, $key: pretendard);
      font-weight: 700;
      color: map-get($color, dark);
      margin-top: 30px;
    }

    & .title_te {
      width: 100%;
      font-size: 1.6rem;
      font-family: map-get($map: $font, $key: pretendard);
      font-weight: 400;
      line-height: 2.4rem;
      color: map-get($color, dark);
    }
  }

  .policy_contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    & .policy_first,
    & .policy_last {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;

      & > h2 {
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: 1px solid map-get($map: $color, $key: gray-858585);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-family: map-get($map: $font, $key: pretendard);
        font-weight: 700;
        text-align: center;
        color: map-get($map: $color, $key: gray-858585);
      }

      p {
        font-size: 1.6rem;
        font-family: map-get($map: $font, $key: pretendard);
        font-weight: 300;
        line-height: 2.4rem;
        color: map-get($map: $color, $key: dark);

        & strong {
          font-weight: 700;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        line-height: 1rem;
        margin: 0px 0px 30px -18px;
        li {
          font-size: 1.4rem;
          font-family: map-get($map: $font, $key: pretendard);
          font-weight: 300;
          line-height: 1rem;
          color: map-get($map: $color, $key: dark);
          padding-left: 15px;
          text-align: left;
        }
      }
    }
    & .policy_last {
      table {
        tr {
          td {
            font-size: 1.38rem;
            font-family: map-get($map: $font, $key: pretendard);
            font-weight: 400;
            line-height: 3.3rem;
            color: map-get($map: $color, $key: dark);
          }
        }
      }
    }
  }
}
.modal-search {
  width: 100%;
  height: 300px;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 5;
  background: rgba($color: #000000, $alpha: 0.5);
  color: map-get($map: $color, $key: light);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  &.active {
    top: 0;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    i {
      font-size: 2.4rem;
      cursor: pointer;
    }
  }
  .search {
    width: 500px;
    position: relative;
    form {
      display: flex;
      input[type="search"] {
        flex: 5;
        padding: 15px;
        padding-left: 30px;
        border: none;
        &::placeholder {
          opacity: 1;
          font-style: italic;
          transition: opacity 0.3s;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0;
          }
        }
      }
      input[type="submit"] {
        flex: 1;
        padding: 15px;
        border: none;
        background: map-get($map: $color, $key: button);
        color: map-get($map: $color, $key: light);
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }
    .hash-tag {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      color: map-get($map: $color, $key: hashtag);
    }
    &::before {
      content: "\f002";
      font-family: "fontawesome";
      color: map-get($map: $color, $key: button);
      position: absolute;
      top: 20%;
      left: 8px;
      font-size: 1.6rem;
    }
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: auto;
  padding: 100px;
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  .modal-content {
    width: 1000px;
    position: relative;
    .modal-top {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      .modal-photo {
        width: 300px;
        height: 450px;
        border-radius: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      form {
        width: 600px;
        .modal-info {
          width: 100%;
          h1 {
            font-size: 4rem;
            margin-bottom: 14px;
          }
          div {
            font-size: 1.6rem;
            // line-height: 1.2rem;
            span {
              display: inline-block;
              margin-right: 4px;
              padding-right: 10px;
              border-right: 1px solid map-get($map: $color, $key: light);
              &:last-child {
                border-right: none;
              }
            }
          }
        }
        .modal-button {
          width: 100%;
          margin: 20px 0;
          a {
            display: inline-block;
            width: auto;
            border: 1px solid map-get($map: $color, $key: light);
            border-radius: 34px;
            margin-right: 8px;
            padding: 8px 20px;
            transition: border 0.3s, background 0.3s;
            &:hover {
              border: 1px solid map-get($map: $color, $key: button);
              background: map-get($map: $color, $key: button);
            }
            i {
              margin-right: 10px;
            }
          }
        }
        .modal-desc {
          width: 100%;
          margin-bottom: 20px;
          p {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
        input[type="submit"] {
          border: none;
          border-radius: 34px;
          background: map-get($map: $color, $key: button);
          color: map-get($map: $color, $key: light);
          padding: 8px 36px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .modal-bottom {
      .modal-detail {
        width: 100%;
        background: map-get($map: $color, $key: button);
        padding: 10px;
        border-radius: 20px 0 0 0;
        h1 {
          font-size: 3rem;
          margin-bottom: 14px;
        }
        div {
          margin-bottom: 10px;
          padding-left: 20px;
          span {
            &:first-child {
              font-size: 1.6rem;
              font-weight: bold;
              margin-right: 12px;
            }
            &:last-child {
              font-style: italic;
              text-decoration: underline;
            }
          }
        }
      }
      .modal-poster {
        width: 100%;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .modal-trailer {
        width: 100%;
        height: 500px;
        // margin: 20px 0;
        background: #fff;
        iframe {
          border: none;
        }
      }
    }
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    i {
      font-size: 3rem;
      cursor: pointer;
    }
  }
  &.active {
    display: flex;
  }
}
