@import "../../styles/reset.scss";
@import "../../styles/variables.scss";
@import "../../mixin.scss";

@import "../../styles/header.scss";
@import "../../styles/footer.scss";
@import "../../styles/res_header.scss";
@import "../../res_style.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  width: 100%;
}
