@import "../../styles/reset.scss";
@import "../../styles/variables.scss";
@import "../../mixin.scss";

@import "../../styles/header.scss";
@import "../../styles/footer.scss";
@import "../../styles/res_header.scss";
@import "../../res_style.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
  #vegetables {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .vegetable_inner {
      margin: 120px 0;
      width: 100%;
      max-width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .vegetable_it {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px; // 간격을 주는 게 더 보기 좋아요
        .main_type1,
        .main_type2 {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // padding: 10px;
          box-sizing: border-box;
          gap: 15px;

          .img {
            position: relative;
            width: 100%;
            img {
              width: 100%;
              aspect-ratio: 1 / 1; // 정사각형 비율 유지
              object-fit: cover;
              cursor: pointer;
            }
            // 할인 버튼은 type2에서만 존재
            button {
              position: absolute;
              top: 5%;
              left: 5%;
              @include button;
            }
          }
          .main_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 10px;
            h3,
            .main_title {
              font-size: 1.8rem;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 원하는 줄 수
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              // font-size: 1.8rem;
              cursor: pointer;
            }
            .main_shopping,
            .main_tag {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              p {
                font-weight: 600;
                font-size: 2.2rem;
              }
              .main_sale {
                display: flex;
                gap: 10px;
                align-items: flex-end;

                .main_percent {
                  p {
                    font-size: 1.8rem;
                    color: map-get($map: $color, $key: main-01);
                    b {
                      font-size: 3.6rem;
                      font-weight: 800;
                    }
                  }
                }

                .main_price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 1.6rem;
                    color: map-get($map: $color, $key: gray-ccc);
                    text-decoration: line-through;
                  }
                  p {
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: map-get($map: $color, $key: dark);
                  }
                }
              }
              .icon {
                display: flex;
                gap: 5px;
                .fa-heart,
                .fa-cart-shopping {
                  @include icon;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
