@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: pretendard;
}

#event_page {
  width: 100%;
  height: 100%;
}
#event_page #event_main_section {
  width: 100%;
  height: 1400px;
  background: url("../../imgs/event_topbg.jpg") center/cover no-repeat;
}
#event_page #event_main_section .inner {
  width: 100%;
  height: 1400px;
  margin: 0 auto;
}
#event_page #event_main_section .inner #event_main {
  width: 100%;
  position: relative;
}
#event_page #event_main_section .inner #event_main #event_main_text {
  top: 280px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#event_page #event_main_section .inner #event_main #event_main_text h4 {
  font-size: 2rem;
  font-weight: 400;
}
#event_page #event_main_section .inner #event_main #event_main_text #underline {
  width: 260px;
  height: 1px;
  background: #000;
  margin: 2px auto 20px;
}
#event_page #event_main_section .inner #event_main #event_main_text h2 {
  font-size: 4rem;
  font-weight: 400;
}
#event_page #event_main_section .inner #event_main #event_main_text h2 b {
  color: #ff9900;
  font-weight: bold;
}
#event_page #event_main_section .inner #event_main #event_main_text h3 {
  font-size: 5.4rem;
  font-weight: 400;
  margin-bottom: 12px;
}
#event_page #event_main_section .inner #event_main #event_main_text h3 b {
  color: #2e8632;
  font-weight: bold;
}
#event_page #event_main_section .inner #event_main #event_main_text span {
  font-size: 1.6rem;
  font-weight: 400;
}
#event_page #event_main_section .inner #event_main #event_roulette img {
  position: absolute;
}
#event_page #event_main_section .inner #event_main #event_roulette img:first-child {
  top: 240px;
  left: calc(50vw - 460px);
}
#event_page #event_main_section .inner #event_main #event_roulette img:nth-child(2) {
  top: 870px;
  left: calc(50vw - 380px);
  z-index: 1;
}
#event_page #event_main_section .inner #event_main #event_roulette img:nth-child(3) {
  top: 870px;
  right: calc(50vw - 500px);
}
#event_page #event_main_section .inner #event_main #event_roulette img:nth-child(4) {
  top: 1000px;
  right: calc(50vw - 450px);
}
#event_page #event_main_section .inner #event_main #event_roulette img:nth-child(5) {
  top: 493px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
}
#event_page #event_main_section .inner #event_main #event_roulette img:nth-child(6) {
  top: 300px;
  right: calc(50vw - 280px);
}
#event_page #event_main_section .inner #event_main #event_roulette img:last-child {
  width: 600px;
  top: 530px;
  left: 50%;
  transform: translatex(-50%);
}
#event_page #event_main_section .inner #event_main #roulette_center {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  background: #f37100;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease, transform 0.4s ease;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}
#event_page #event_main_section .inner #event_main #roulette_center:hover {
  background: #ff9900;
  transform: translateX(-50%) scale(1.05);
}
#event_page #event_main_section .inner #event_main #event_down_text {
  position: absolute;
  top: 1160px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#event_page #event_main_section .inner #event_main #event_down_text #roulette_uparr {
  width: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}
#event_page #event_main_section .inner #event_main #event_down_text #roulette_uparr img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#event_page #event_main_section .inner #event_main #event_down_text span {
  font-size: 1.8rem;
}
#event_page #event_modal_section {
  display: none;
}
#event_page #event_modal_section.active {
  display: block;
}
#event_page #event_modal_section #event_before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#event_page #event_modal_section #event_modal {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 30px;
  z-index: 3;
}
#event_page #event_modal_section #event_modal #modal_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
}
#event_page #event_modal_section #event_modal #modal_inner h2 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  color: #000;
  font-weight: normal;
}
#event_page #event_modal_section #event_modal #modal_inner h2 #modal_content {
  font-weight: bold;
  font-size: 3.2rem;
  color: #f37100;
}
#event_page #event_modal_section #event_modal #modal_inner #modal_btn {
  width: 400px;
  height: 56px;
  border: none;
  border-radius: 30px;
  background: #f37100;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
#event_page #event_modal_section #event_modal #modal_inner #modal_btn:hover {
  background: #ff9900;
}
#event_page #event_middle_plus {
  width: 76px;
  height: 76px;
  border-radius: 38px;
  background: #f37100;
  z-index: 1;
  position: absolute;
  top: 1590px;
  left: 50%;
  transform: translateX(-50%);
}
#event_page #event_middle_plus .middle_plus {
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#event_page #event_middle_plus .middle_plus:first-child {
  width: 6px;
  height: 40px;
}
#event_page #event_product {
  width: 100%;
  background: #fffaf1;
}
#event_page #event_product .inner {
  max-width: 1050px;
  width: 100%;
  height: 100%;
  padding: 100px 0 120px 0;
  margin: 0 auto;
}
#event_page #event_product .inner #event_product_up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#event_page #event_product .inner #event_product_up .product_title_line {
  width: 30%;
  height: 2px;
  background: #f37100;
}
#event_page #event_product .inner #event_product_up #event_product_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f37100;
}
#event_page #event_product .inner #event_product_up #event_product_title h4 {
  font-size: 3rem;
}
#event_page #event_product .inner #event_product_up #event_product_title h3 {
  font-size: 4rem;
}
#event_page #event_product .inner #event_product_subtext {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin: 60px auto 10px;
  font-size: 1.8rem;
  font-weight: 200;
}
#event_page #event_product .inner ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#event_page #event_product .inner ul li {
  width: 100%;
  height: 340px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#event_page #event_product .inner ul li:hover > img {
  opacity: 1;
}
#event_page #event_product .inner ul li:first-child .event_product_inner .event_product_sale {
  background: #ff9900;
}
#event_page #event_product .inner ul li img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.85;
  transition: opacity 0.4s;
}
#event_page #event_product .inner ul li .event_product_inner {
  width: 50%;
  height: 260px;
  margin: 40px 60px;
  position: relative;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_sale {
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffc164;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_sale h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_sale h2 span {
  font-size: 2rem;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text {
  position: absolute;
  top: 70px;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text span {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #999;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text h3 {
  font-size: 2.8rem;
  font-weight: bold;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text .product_text_price {
  display: flex;
  align-items: center;
  gap: 10px;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text .product_text_price h2 {
  font-size: 3.6rem;
  line-height: 6.5rem;
  color: #f37100;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_text .product_text_price span {
  font-size: 2rem;
  color: #999;
  text-decoration: line-through;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_godet {
  position: absolute;
  bottom: 0;
  right: 6px;
  display: flex;
  gap: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_godet:hover {
  right: 0;
  gap: 16px;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_godet span {
  font-size: 1.8rem;
}
#event_page #event_product .inner ul li .event_product_inner .event_product_godet img {
  margin-top: 6px;
  width: 37px;
  height: 8.5px;
}
#event_page #event_product .inner #event_product_banner {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background: linear-gradient(90deg, rgb(151, 210, 118) 0%, rgb(110, 171, 77) 100%);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#event_page #event_product .inner #event_product_banner:hover #product_banner_title img {
  left: 430px;
}
#event_page #event_product .inner #event_product_banner span {
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 2.4rem;
  color: #fff;
}
#event_page #event_product .inner #event_product_banner #product_banner_title {
  margin-left: 50px;
}
#event_page #event_product .inner #event_product_banner #product_banner_title div {
  position: absolute;
  top: 96px;
  left: 264px;
  width: 146px;
  height: 23px;
  background: #a4ff24;
  opacity: 0.4;
}
#event_page #event_product .inner #event_product_banner #product_banner_title h4 {
  position: absolute;
  top: 80px;
  left: 50px;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 400;
}
#event_page #event_product .inner #event_product_banner #product_banner_title h4 b {
  font-weight: bold;
}
#event_page #event_product .inner #event_product_banner #product_banner_title img {
  position: absolute;
  top: 96px;
  left: 420px;
  transition: all 0.2s;
}
#event_page #event_product .inner #event_product_banner #product_banner_imginner {
  width: 100%;
  position: absolute;
  bottom: 30px;
  display: flex;
}
#event_page #event_product .inner #event_product_banner #product_banner_imginner #product_banner_img {
  width: 100%;
}
#event_page #event_caution .inner {
  width: 1050px;
  height: 100%;
  padding: 100px 0 120px;
  margin: 0 auto;
}
#event_page #event_caution .inner h4 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#event_page #event_caution .inner p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
}
#event_page #event_caution .inner p .space {
  color: #fff;
}

#product_banner_imginner {
  display: flex;
  animation-name: slideLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}