* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  color: #999;
  position: relative;
}
footer .footer_inner {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_inner .up_btn {
  width: 50px;
  height: 50px;
  right: 6vh;
  bottom: 6vh;
  position: fixed;
  opacity: 0;
  transition: opacity 0.4s;
}
footer .footer_inner .up_btn a div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc164;
  border-radius: 27px;
}
footer .footer_inner .up_btn a div i {
  font-size: 2rem;
  color: #fff;
}
footer .footer_inner .up_btn.active {
  opacity: 1;
}
footer .footer_inner .footer_inner_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
footer .footer_inner .footer_inner_left img {
  width: 140px;
  height: 66px;
}
footer .footer_inner .footer_inner_left p {
  font-family: pretendard;
  font-size: 1.4rem;
}
footer .footer_inner .footer_inner_center {
  display: flex;
  flex-direction: column;
}
footer .footer_inner .footer_inner_center ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer .footer_inner .footer_inner_center ul li {
  font-family: pretendard;
  font-size: 1.4rem;
}
footer .footer_inner .footer_inner_center ul li:last-child {
  font-size: 1.8rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: pretendard;
}
footer .footer_inner .footer_inner_right .inner_right_top {
  display: flex;
  flex-direction: column;
}
footer .footer_inner .footer_inner_right .inner_right_top ul li:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_top ul li:nth-child(2) {
  font-size: 2.6rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_bottom {
  display: flex;
  gap: 10px;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left li:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_left li:nth-child(2) {
  font-size: 1rem;
}
footer .footer_inner .footer_inner_right .inner_right_bottom .right_bottom_right {
  font-size: 1.4rem;
  line-height: 150%;
}