* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
  z-index: 3;
  transition: transform 0.8s ease;
}
header.scroll::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header.hidden {
  transform: translateY(-100%);
}
header .header_event {
  width: 100%;
  height: 50px;
  background: #f37100;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pretendard;
  font-size: 1.4rem;
}
header .header_event .fa-chevron-right {
  margin-left: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}
header .header_inner {
  width: 100%;
  height: 180px;
  padding: 20px 240px;
  position: relative;
}
header .header_inner nav {
  width: 100%;
  padding: 0 20px;
}
header .header_inner nav .gnb {
  opacity: 0;
  flex-direction: column;
  background: #fff;
  position: fixed;
  top: 145px;
  left: 20px;
  width: 160px;
  padding: 22px;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.7s;
}
header .header_inner nav .gnb li {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: color 0.4s;
  cursor: pointer;
}
header .header_inner nav .gnb li:hover {
  color: #f37100;
}
header .header_inner nav .gnb.active {
  opacity: 1;
}
header .header_inner .trigger {
  bottom: 20px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 5px;
  z-index: 5;
  cursor: pointer;
}
header .header_inner .trigger span {
  width: 22px;
  height: 2px;
  background-color: #333;
  border-radius: 1px;
  transition: 0.4s;
}
header .header_inner .trigger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
header .header_inner .trigger.active span:nth-child(2) {
  opacity: 0;
}
header .header_inner .trigger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
header .header_inner .header_inner_left {
  position: absolute;
  bottom: 20px;
}
header .header_inner .header_inner_left ul {
  display: flex;
  gap: 40px;
}
header .header_inner .header_inner_left ul li {
  font-family: pretendard;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.4s;
}
header .header_inner .header_inner_left ul li:hover {
  color: #f37100;
}
header .header_inner .header_inner_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
header .header_inner .header_inner_right .inner_right_top ul {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 1.6rem;
  font-family: pretendard;
}
header .header_inner .header_inner_right .inner_right_top ul li {
  cursor: pointer;
  transition: color 0.4s;
}
header .header_inner .header_inner_right .inner_right_top ul li:hover {
  color: #f37100;
}
header .header_inner .header_inner_right .inner_right_bottom {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: 40px;
  background: #f5f5f5;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input {
  width: 90%;
  background: inherit;
  border: none;
  opacity: 1;
  font-family: pretendard;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus {
  outline: none;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar input:focus::placeholder {
  transition: all 0.3s;
  opacity: 0;
}
header .header_inner .header_inner_right .inner_right_bottom .search_bar .fa-magnifying-glass {
  cursor: pointer;
}
header .header_inner .header_inner_right .inner_right_bottom .res_magnify {
  display: none;
}
header .header_inner .header_inner_right .inner_right_bottom .basket {
  position: relative;
}
header .header_inner .header_inner_right .inner_right_bottom .basket .fa-cart-shopping {
  width: 40px;
  height: 34px;
  font-size: 2.8rem;
  cursor: pointer;
}
header .header_inner .header_inner_right .inner_right_bottom .basket p {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f37100;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  font-family: pretendard;
  font-weight: 500;
  font-size: 12px;
}
header .header_inner .header_inner_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}