// reset
@import "./reset.scss";

// variables
@import "./variables.scss";

// header
header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map-get($map: $color, $key: light);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
  z-index: 1;
  .header_event {
    width: 100%;
    height: 50px;
    background: map-get($map: $color, $key: main-01);
    color: map-get($map: $color, $key: light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: map-get($map: $font, $key: pretendard);
    font-size: 1.4rem;
    .fa-chevron-right {
      margin-left: 10px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .header_inner {
    width: 1400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    .header_inner_left {
      display: flex;
      justify-content: start;
      align-items: end;
      position: absolute;
      left: 0;
      bottom: 20px;
      ul {
        display: flex;
        gap: 40px;
        li {
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 2.2rem;
          cursor: pointer;
          transition: color 0.4s;
          &:hover {
            color: map-get($map: $color, $key: main-01);
          }
        }
        .header_menu_trigger {
          display: none;
        }
      }
    }
    .header_inner_right {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 65px;
      position: absolute;
      right: 0;
      bottom: 20px;
      .inner_right_top {
        ul {
          display: flex;
          align-items: center;
          gap: 14px;
          font-family: map-get($map: $font, $key: pretendard);
          font-size: 1.6rem;
          li {
            cursor: pointer;
            transition: color 0.4s;
            &:hover {
              color: map-get($map: $color, $key: main-01);
            }
          }
        }
      }
      .inner_right_bottom {
        display: flex;
        align-items: center;
        gap: 25px;
        .search_bar {
          width: 280px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 25px;
          border-radius: 40px;
          background: map-get($map: $color, $key: gray-f5f5f5);
          input {
            width: 90%;
            background: inherit;
            border: none;
            opacity: 1;
            font-family: map-get($map: $font, $key: pretendard);
            &:focus {
              outline: none;
              &::placeholder {
                transition: all 0.3s;
                opacity: 0;
              }
            }
          }
          .fa-magnifying-glass {
            cursor: pointer;
          }
        }
        .basket {
          position: relative;
          .fa-cart-shopping {
            width: 40px;
            height: 34px;
            font-size: 2.8rem;
            cursor: pointer;
          }
          p {
            width: 20px;
            height: 20px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: map-get($map: $color, $key: main-01);
            color: map-get($map: $color, $key: light);
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -5px;
            font-family: map-get($map: $font, $key: pretendard);
            font-size: 1.2rem;
          }
        }
      }
    }
    .header_inner_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
